$color-white:   #FFFFFF;
$color-alpha:   #8FB9A8;
$color-bravo:   #FEFAD4;
$color-charlie: #FCD0BA;
$color-delta:   #F1828D;
$color-foxtrot: #765D69;

$color-foxtrot-light: lighten(#765D69, 10);
$color-delta-dark:    darken(#F1828D, 10);
